{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 180,
  "trailingComma": "es5",
  "arrowParens": "always",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "css"
}
